.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  /* This ensures the menu is fully off-screen when closed */
  width: 300px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s;
  padding: 20px;
  z-index: 99999;
}

.side-menu.open {
  right: 0;
}

.menu-header {
	display: flex;
	justify-content: flex-end;
	padding: 10px;
}

.close-button {
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px 20px;
  /* Increase padding for a larger clickable area */
  border-radius: 5px;
  /* Rounded corners */
  transition: background-color 0.3s;
  /* Smooth transition for hover effect */
  cursor: pointer;
  /* Indicates a clickable item */
  font-size: 1.1em;
  /* Increase font size for better readability */
}

.menu-item a, .menu-item span {
	text-decoration: none;
	color: inherit;
	margin-left: 10px;
  font-weight: 500;
}

.menu-item:hover {
  background-color: #f5f5f5;
	text-decoration: none;
}

.icon-container {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}